<ol id="members" class="peoplelist infolist">
						
							<li>
								<div class="people">
									<p class="image">
										<fo:profile-pic uid="<%= user.xid %>" linked="true" />
									</p>
									<table class="info">
										<caption><fo:name uid="<%= user.xid %>" shownetwork="true"  linked="true" />
										</caption>
										
									</table>
									
								</div>
							</li>
						
							
						
					</ol>